[mysql]
# 设置mysql客户端默认字符集
default-character-set=utf8

[mysqld]
#  ---------------- Basic ----------------
server_id=100
#bind-address=192.168.1.187
port=3306
socket=D:\\soft\mysql-5.7.25-winx64\mysql.sock
basedir=D:\\soft\mysql-5.7.25-winx64\
datadir=D:\\soft\mysql-5.7.25-winx64\data
skip-host-cache
skip-name-resolve
#skip-external-locking
#skip-networking

#  ---------------- Connection/File/Table ----------------
max_connections=10000
max_connect_errors=20000
#wait_timeout=31536000
#interactive_timeout=31536000
wait_timeout=60
interactive_timeout=1800
lock_wait_timeout = 1800
max_allowed_packet=1024M

# ---------------- Thread Pool ----------------
#thread_handling = pool-of-threads
#thread_pool_oversubscribe = 5
thread_cache_size=64
#extra_max_connections = 10
#extra_port = 33333

#  ---------------- Binlog ----------------
log-bin=D:\\soft\mysql-5.7.25-winx64\mysql-bin
binlog_format=Row
default-storage-engine=INNODB
log_bin_trust_function_creators=1
expire_logs_days=8

#  ---------------- Inno DB ----------------
#innodb_log_buffer_size = 128M
#innodb_log_file_size = 2048M

#  ---------------- Others ----------------
character-set-server=utf8
#skip-grant-tables
sql_mode=NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER